In [1]:
#import below libraries
import awswrangler as wr
import pandas as pd
import boto3
import warnings 
warnings.filterwarnings('ignore')
import configparser

In [2]:
#reading the credentials securely.
credents = configparser.ConfigParser()

In [3]:
#use read_file method
credents.read('C:\Fall 2022 courses\Project\Pyspark\AWS-Data-Engineering-pipeline\secret.config')

['C:\\Fall 2022 courses\\Project\\Pyspark\\AWS-Data-Engineering-pipeline\\secret.config']

In [4]:
#Reading in the credentials into Python variables. No can see them
aws_key = credents["AWS"]["KEY"]
aws_secret = credents["AWS"]["SECRET"]
region = credents["AWS"]["REGION"]

In [5]:
#Creating the Session
your_session = boto3.Session(aws_access_key_id=aws_key,
                            aws_secret_access_key=aws_secret,
                            region_name=region)

In [20]:
#verifying your session by listing the buckets
your_buckets = wr.s3.list_buckets(boto3_session=your_session)
your_buckets

['aws-athena-query-results-280202838492-us-east-1',
 'new-spark-project-tutorial',
 'walmart-east-2-tracker-new']

In [13]:
 # Creating new S3 bucket

#Create bucket name
bucket_name='new-spark-project-tutorial'

#Create Bucket
s3client=your_session.client('s3')
s3client.create_bucket(Bucket=bucket_name)

{'ResponseMetadata': {'RequestId': '533M7PFY88F6PV4E',
  'HostId': 'Hw7J1eI9HDThh6BtQf1TFCpWI2OSpn2ZtE+jR65znBl2J65Yw8obhTcdIwd/bYmR58TjyHsbV8Y=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'Hw7J1eI9HDThh6BtQf1TFCpWI2OSpn2ZtE+jR65znBl2J65Yw8obhTcdIwd/bYmR58TjyHsbV8Y=',
   'x-amz-request-id': '533M7PFY88F6PV4E',
   'date': 'Thu, 29 Jun 2023 23:35:26 GMT',
   'location': '/new-spark-project-tutorial',
   'server': 'AmazonS3',
   'content-length': '0'},
  'RetryAttempts': 0},
 'Location': '/new-spark-project-tutorial'}

In [15]:
# read the files

customers_csv = pd.read_csv("C:\Fall 2022 courses\Project\Pyspark\AWS-Data-Engineering-pipeline\Project_3\customers\customers.csv")
customers_csv.head(2)

   293 Catherine         Abel    Catherine Abel
0  295       Kim  Abercrombie   Kim Abercrombie
1  297  Humberto      Acevedo  Humberto Acevedo

In [19]:
# read the files

employess_csv = pd.read_csv("C:\Fall 2022 courses\Project\Pyspark\AWS-Data-Engineering-pipeline\Project_3\employees\employees.csv")
employess_csv.head(2)

,274,NULL,Stephen,Jiang,Stephen Jiang,North American Sales Manager,2,M,M.1,NULL.1,NULL.2,NULL.3
0,275,274.0,Michael,Blythe,Michael Blythe,Sales Representative,3,S,M,Northeast,US,North America
1,276,274.0,Linda,Mitchell,Linda Mitchell,Sales Representative,3,M,F,Southwest,US,North America

In [18]:
# read the files

orders_csv = pd.read_csv("C:\Fall 2022 courses\Project\Pyspark\AWS-Data-Engineering-pipeline\Project_3\orders\orders.csv")
orders_csv.head(2)

,43659,1,5/31/2011,6/12/2011,6/7/2011,279,1045,20565.6206,1971.5149,616.0984,23153.2339,776,1.1,2024.994,0,2024.994.1
0,43659,2,5/31/2011,6/12/2011,6/7/2011,279,1045,20565.6206,1971.5149,616.0984,23153.2339,777,3,2024.994,0.0,6074.982
1,43659,3,5/31/2011,6/12/2011,6/7/2011,279,1045,20565.6206,1971.5149,616.0984,23153.2339,778,1,2024.994,0.0,2024.994

In [22]:
# Create a s3 path

main_path='s3://new-spark-project-tutorial'

In [24]:
# Uploading file to S3

wr.s3.to_csv(df= customers_csv,
        path=main_path + '/csv/customers_csv.csv',
    boto3_session=your_session)

{'paths': ['s3://new-spark-project-tutorial/csv/customers_csv.csv'],
 'partitions_values': {}}

In [25]:
wr.s3.to_csv(df= employess_csv,
        path=main_path + '/csv/employess_csv.csv',
    boto3_session=your_session)

{'paths': ['s3://new-spark-project-tutorial/csv/employess_csv.csv'],
 'partitions_values': {}}

In [26]:
wr.s3.to_csv(df= orders_csv ,
        path=main_path + '/csv/orders_csv .csv',
    boto3_session=your_session)

{'paths': ['s3://new-spark-project-tutorial/csv/orders_csv .csv'],
 'partitions_values': {}}

In [28]:
# Verify the data is written using list_objects

wr.s3.list_objects(main_path,boto3_session=your_session)

['s3://new-spark-project-tutorial/csv/customers_csv.csv',
 's3://new-spark-project-tutorial/csv/employess_csv.csv',
 's3://new-spark-project-tutorial/csv/orders_csv .csv']